@model PlanProjektaPageView
@{
    ViewData["Title"] = "Index";
}

<h1>Plan projekta</h1>

<div style="margin-bottom: 20px;">
    <a class="btn btn-primary" asp-action="Create">Dodaj Plan</a>
</div>

<div class="float-end">
    <nav aria-label="Page navigation">
        <ul class="pagination">
            @for (int i = 1; i <= Model.PagingInfo.TotalPages; i++)
            {
                <li class="page-item @(i == Model.PagingInfo.CurrentPage ? "active" : "")">
                    <a class="page-link"
                       href="@Url.Action("Index", new { page = i, sort = Model.PagingInfo.Sort, ascending = Model.PagingInfo.Ascending })">@i</a>
                </li>
            }
        </ul>
    </nav>
</div>

<table class="table table-striped" style="width:100%">
    <thead class="bg-dark text-white">
        <tr>
            <th>
                <a asp-route-sort="1" asp-route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-ascending="@(Model.PagingInfo.Sort == 1 ? !Model.PagingInfo.Ascending : true)">
                    Plan projekta ID
                </a>
            </th>
            <th>
                <a asp-route-sort="2" asp-route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-ascending="@(Model.PagingInfo.Sort == 2 ? !Model.PagingInfo.Ascending : true)">
                    Planirani početak
                </a>
            </th>
            <th>
                <a asp-route-sort="3" asp-route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-ascending="@(Model.PagingInfo.Sort == 3 ? !Model.PagingInfo.Ascending : true)">
                    Planirani kraj
                </a>
            </th>
            <th>
                <a asp-route-sort="4" asp-route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-ascending="@(Model.PagingInfo.Sort == 4 ? !Model.PagingInfo.Ascending : true)">
                    Stvarni početak
                </a>
            </th>
            <th>
                <a asp-route-sort="5" asp-route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-ascending="@(Model.PagingInfo.Sort == 5 ? !Model.PagingInfo.Ascending : true)">
                    Stvarni kraj
                </a>
            </th>
            <th>
                <a asp-route-sort="6" asp-route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-ascending="@(Model.PagingInfo.Sort == 6 ? !Model.PagingInfo.Ascending : true)">
                    Projekt (kratica)
                </a>
            </th>
            <th>
                <a asp-route-sort="7" asp-route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-ascending="@(Model.PagingInfo.Sort == 7 ? !Model.PagingInfo.Ascending : true)">
                    Voditelj (email)
                </a>
            </th>
            <th>
                <a asp-route-sort="8" asp-route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-ascending="@(Model.PagingInfo.Sort == 8 ? !Model.PagingInfo.Ascending : true)">
                    Zahtjevi
                </a>
            </th>
            <th>
                <a asp-route-sort="9" asp-route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-ascending="@(Model.PagingInfo.Sort == 9 ? !Model.PagingInfo.Ascending : true)">
                    Etape
                </a>
            </th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var plan in Model.Planovi)
        {
            <tr>
                <td>@plan.PlanProjektaId</td>
                <td>@plan.PlaniraniPočetak</td>
                <td>@plan.PlaniraniKraj</td>
                <td>@plan.StvarniPočetak</td>
                <td>@plan.StvarniKraj</td>
                <td>@plan.Projekt.Kratica</td>
                <td>@plan.VoditeljEmail</td>
                <td>
                    @foreach (var zahtjev in plan.Zahtjev)
                    {
                        <span>@zahtjev.Ime</span>
                        if (zahtjev != plan.Zahtjev.Last())
                        {
                            <span>,</span>
                        }
                    }
                </td>
                <td>
                    @foreach (var etapa in plan.Etapa)
                    {
                        <span>@etapa.Ime</span>
                        if (etapa != plan.Etapa.Last())
                        {
                            <span>,</span>
                        }
                    }
                </td>
                <td style="display: flex; align-items: center;">
                    <a asp-action="Edit" asp-route-PlanProjektaId="@plan.PlanProjektaId" class="btn btn-info mr-2">Uredi</a>
                    <form asp-action="Delete" method="post" class="mx-2">
                        <input type="hidden" name="PlanProjektaId" value="@plan.PlanProjektaId" />
                        <button type="submit" class="btn btn-danger delete" title="Obriši">Obriši</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>


