@using RPPP_WebApp.ViewModels
@model PlanProjektaViewModel
@{
    ViewData["Title"] = "MasterDetailCreate";
}

<h1>Dodavanje novog plana - 2. predaja</h1>

<div class="md-container">
    <form id="md-dokument_form" asp-action="MasterDetailCreate" method="post">
        <div class="md-form-group">
            <button id="save" type="submit" class="btn btn-success">Spremi</button>
            <a asp-action="Index2" asp-controller="PlanProjekta" class="btn btn-close"></a>
        </div>
        <div class="md-form-group">
            <label asp-for="@Model.PlanProjekta.PlaniraniPočetak"></label>
            <div>
                <input asp-for="@Model.PlanProjekta.PlaniraniPočetak" class="form-control datum" />
            </div>

            <label asp-for="@Model.PlanProjekta.PlaniraniKraj"></label>
            <div>
                <input asp-for="@Model.PlanProjekta.PlaniraniKraj" class="form-control datum" />
            </div>
        </div>

        <div class="md-form-group">
            <label asp-for="@Model.PlanProjekta.StvarniPočetak"></label>
            <div>
                <input asp-for="@Model.PlanProjekta.StvarniPočetak" class="form-control datum" />
            </div>

            <label asp-for="@Model.PlanProjekta.StvarniKraj"></label>
            <div>
                <input asp-for="@Model.PlanProjekta.StvarniKraj" class="form-control datum" />
            </div>
        </div>

        <div class="md-form-group">
            <label asp-for="@Model.PlanProjekta.ProjektId"></label>
            <div>
                <input asp-for="@Model.PlanProjekta.ProjektId" readonly="readonly" class="form-control" data-autocomplete-placeholder="projekt" />
            </div>

            <label asp-for="@Model.PlanProjekta.Projekt.Kratica"></label>
            <div>
                <input class="form-control" data-autocomplete="projekt" asp-for="@Model.PlanProjekta.Projekt.Kratica" />
            </div>

            <label asp-for="@Model.PlanProjekta.VoditeljEmail"></label>
            <div>
                @{
                    string displayName = Model.PlanProjekta.VoditeljEmail;
                }

                <input asp-for="@Model.PlanProjekta.VoditeljEmail" data-autocomplete="voditelj" class="form-control" value="@displayName" />
            </div>
        </div>

        <br />

        <table class="table table-striped" id="table-etape">
            <thead>
                <tr>
                    @{
                        string[] nazivi = { "Etapa", "Opis", "Aktivnost", " " };
                        for (int i = 0; i < nazivi.Length; i++)
                        {
                            <th class="text-center">
                                @nazivi[i]
                            </th>
                        }
                    }
                </tr>
            </thead>
            <tbody>
                @for (var i = 0; i < Model.Etape.Count(); i++)
                {
                    var etapa = Model.Etape.ElementAt(i);

                    <tr>
                        <td class="text-center">
                            <input type="hidden" name="Etape.Index" value="@i" />
                            <input type="text" name="Etape[@i].Ime" value="@etapa.Ime" class="form-control" />
                        </td>
                        <td class="text-center">
                            <input name="Etape[@i].Opis" class="form-control" value="@etapa.Opis" />
                        </td>
                        <td class="text-center">
                            <input type="hidden" name="Etape[@i].AktivnostId" class="form-control" value="@etapa.AktivnostId" />
                            <input name="Etape[@i].AktivnostIme" class="form-control" value="@etapa.Aktivnost.Ime" type="text" data-autocomplete="aktivnost" />
                        </td>
                        <td>
                            <button class="btn btn-sm btn-danger deleterow">Ukloni</button>
                        </td>
                    </tr>
                }

                <tr>
                    <td>
                        <input id="etapa-ime" type="text" name="etapaIme" class="form-control" />
                    </td>
                    <td>
                        <input id="etapa-opis" type="text" name="etapaOpis" class="form-control" />
                    </td>
                    <td>
                        <input id="aktivnost-id" type="hidden" name="aktivnostId" data-autocomplete-placeholder="aktivnost" />
                        <input id="aktivnost-ime" type="text" name="aktivnostIme" class="form-control" data-autocomplete="aktivnost" />
                    </td>
                    <td colspan="3">
                        <button id="etapa-dodaj" class="btn btn-sm btn-primary">Dodaj</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>

<partial name="NovaStavkaTemplate" />

@section styles {
    <link rel="stylesheet" href="~/lib/jqueryui/themes/base/jquery-ui.css" />
}

@section scripts {
    <script src="~/lib/jqueryui/jquery-ui.js"></script>
    <script src="~/js/autocomplete.js" asp-append-version="true"></script>
    <script src="~/js/planProjekta.js" asp-append-version="true"></script>
}