@using RPPP_WebApp.ViewModels
@model ProjektnaKarticaViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Dodaj Projektnu Karticu</h1>

<form asp-action="Create" method="post">

    <div class="form-group">
        <label asp-for="@Model.ProjektnaKartica.Banka"></label>
        <input asp-for="@Model.ProjektnaKartica.Banka" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="@Model.ProjektnaKartica.Iban"></label>
        <input type="number" asp-for="@Model.ProjektnaKartica.Iban" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="@Model.ProjektnaKartica.ProjektId"></label>
        <select asp-for="@Model.ProjektnaKartica.ProjektId" asp-items="ViewBag.Projekti" class="form-control">
            <option value="">Odaberi projekt kojemu projektna kartica pripada</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Dodaj</button>
    <a asp-action="Index" asp-controller="ProjektnaKartica" class="btn btn-secondary">Odustani</a>
</form>
